name: Global Test
on:
  workflow_dispatch:
    inputs:
      env:
        description: Repositories to replicate dependabot config to
        required: false

jobs:
  replicate_changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: derberg/manage-files-in-multiple-repositories@v2
        with:
          # using my personal token here
          # needed scopes: repo, workflow
          github_token: ${{ secrets.GLOBAL_GH_ACTION_TOKEN }}
          #you must specify what pattern to include otherwise all files from the repository will be replicated 
          patterns_to_include: '.github/dependabot.yml'
